.appFooter {
  height: 75px;
  
}

.navList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.navItem {
  margin: auto;
}

.navItem-1 {
  grid-column: 1/1; 
}
.navItem-2 {
  grid-column: 2/2; 
}
.navItem-3 {
  grid-column: 3/3; 
}
.navItem-4 {
  grid-column: 4/4; 
}