.appFooter {
  height: 50px;
  background-color: $dark-shade;

  a {
    color: $light-accent;
  }

  .active {
    color: $dark-accent;
  }

  a:hover {
    color: $main-color;
  }
}

.navList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.navItem {
  padding: 20px 10vw;
}

.navItem-1 {
  grid-column: 1/1; 
}
.navItem-2 {
  grid-column: 2/2; 
}
.navItem-3 {
  grid-column: 3/3; 
}
.navItem-4 {
  grid-column: 4/4; 
}