.loginStyles {
  width: 90%;
  max-width: 315px;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius:5px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
  button + button {
    margin-top: 10px;
  }
}

.loginStyles input,
.loginStyles button {
  width: $full;
}

.login-form-hr, .login-form {
  margin-bottom: 10px;
}

.login-form {
  margin-top: 10px;
}

