$facebookBlue: #39518F;
$mediumGrey: #7E828A;
$lightGrey:#ddd;

#SocialMedia {
    background-color: $lightGrey;
    padding: 10px;
    //height: 675px;
    min-height: -webkit-calc(100vh - 150px);
    //overflow: scroll;
}

#facebook {
    margin: 30px;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: auto 50px;
    h1,h2,h3 {
        color: $facebookBlue;
        text-align: left;
    }
    .spinner {
        position: absolute;
        top: 25%;
        left: 50%;
    }
}

#FBPostForm {

    textarea {
        resize: none;
        border-radius: 5px;
        border: white;
        outline: none;
        padding: 5px;
        transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
    }
    ::-webkit-input-placeholder {
        font-style: italic;
        color: $mediumGrey;
     }
    .small {
        height: 50px;
        width: 160px;
    }
    .big {
        height: 200px;
        width: 250px;
    }
    .show {
        display: block;
    }
    .hide {
        display: none;
    }
}

#refreshCheckGroup {
    color: $mediumGrey;
    font-style: italic;
    size: 11px;
    display: grid;
    grid-template:  auto 0 / 1fr 5fr;
    margin: 5px 0;
    align-items: center;
}

#photoBtnLabel, #FBsubmit, .FBbtn, .formButtonsContainer button {
    color: white;
    background-color: $facebookBlue;
    display: inline-block;
    cursor: pointer;
    width: 150px;
    height: 25px;
    padding: 5px;
    margin: 5px 0;
    text-align: center;
    
}

#photoBtnLabel + #photo_upload:focus ,
#photoBtnLabel:hover,
#FBsubmit:hover, .formButtonsContainer button:hover, .FBbtn:hover{
    background-color: $mediumGrey;
}

#photo_upload {
    //want to hide input while still making it accessible to the browser
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#FBSidebar {
    position: fixed;
    width: 200px;
}

#FBFooter {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 20px;
}

#facebookFeedContainer {
    grid-column: 2 / span 1;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr minmax(200px, 900px) 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
}

.refreshDate {
    color: white;
    font-size: 11px;
    font-style: italic;
    margin: 0 0 20px 0;
}

.FBfeedItem {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    overflow: auto;
    grid-column: 2 / span 1;

    .postHeader {
        text-align: left;
    }

    .postBody {
        margin: 0;
        padding: 0;
    }

    .postStory {
        font-weight: bold;
    }

    .linkBox {
        border: 1px solid $lightGrey;
        border-radius: 4px;
        padding: 5px;
    }

    img {
        margin: 5px 0 5px 0;
        max-width: 100%;
        height: auto;
    }

    .postFooter {
        width: auto;
        text-align: right;
        margin: 5px 0 0 0;
        color: $lightGrey;

    }

    .postDate {
        color: $mediumGrey;
        font-size: 11px;
        font-style: italic;
        margin: 5px 0 10px 0;

        a {
            color: $mediumGrey;
        }
    }
    
    .postMessage {
        margin: 15px 5px;
        font-size: 14px;
    }
}



