$facebookBlue: #39518F;

#SocialMedia {
    margin-top: 50px;
}

#facebook {
    margin: 30px;
    h1,h2,h3 {
        color: $facebookBlue;
    }
}

#facebookFeedContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-auto-rows: minmax(200px, auto-fit);
    grid-auto-flow: dense;
}

.FBfeedItem {
    border: black solid 1px;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

.postDate {
    color: #7E828A;
    font-size: 11px;
    font-style: italic;
    margin: 10px 0 10px 0;
}

.postMessage {
    margin: 5px;
}

.FBbtn {
    background-color: $facebookBlue;
    color: white;
    margin: 5px;
    padding: 3px;

}