$facebookBlue: #39518F;
$mediumGrey: #7E828A;
$lightGrey:#ddd;

#SocialMedia {
    margin-top: 50px;
    background-color: $lightGrey;
    padding: 10px;
    height: 675px;
    overflow: scroll;
}

#facebook {
    margin: 30px;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: auto 50px;
    h1,h2,h3 {
        color: $facebookBlue;
        text-align: left;
    }
}

#FBPostForm {
    textarea {
        resize: none;
        border-radius: 5px;
        border: white;
        outline: none;
    }
    ::-webkit-input-placeholder {
        font-style: italic;
        color: $mediumGrey;
     }
    .small {
        height: 50px;
        width: 160px;
    }
    .big {
        height: 200px;
        width: 200px;
    }
    .show {
        display: block;
    }
    .hide {
        display: none;
    }
}

#FBHeader {
    //span across all columns
    grid-column: 1 / -1;
}

#FBSidebar {
    position: fixed;
    width: 200px;
}

#FBFooter {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 20px;
}

#facebookFeedContainer {
    grid-column: 2 / span 1;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr minmax(200px, 900px) 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
}

.refreshDate {
    color: white;
    font-size: 11px;
    font-style: italic;
    margin: 0 0 20px 0;
}

.FBfeedItem {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    overflow: auto;
    grid-column: 2 / span 1;

    .postHeader {
        text-align: left;
    }

    .postBody {
        margin: 0;
        padding: 0;
    }

    .postStory {
        font-weight: bold;
    }

    .linkBox {
        border: 1px solid $lightGrey;
        border-radius: 4px;
        padding: 5px;
    }

    img {
        margin: 5px 0 5px 0;
        max-width: 100%;
        height: auto;
    }

    .postFooter {
        width: auto;
        text-align: right;
        margin: 5px 0 0 0;
        color: $lightGrey;

    }

    .postDate {
        color: $mediumGrey;
        font-size: 11px;
        font-style: italic;
        margin: 5px 0 10px 0;

        a {
            color: $mediumGrey;
        }
    }
    
    .postMessage {
        margin: 5px;
        font-size: 14px;
    }
}

.FBbtn {
    background-color: $facebookBlue;
    color: white;
    margin: 5px;
    padding: 3px;

}