html {
  font-size: 10px;
}

body {
  font-size: 1.5rem;
  color: $black;
  position: absolute;
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 5rem;
  font-family: 'Panama';
  font-weight: 600;
  letter-spacing: -1px;
}

a {
  text-decoration: none;
  color: $black;
}

p a {
  border-bottom: 2px solid $yellow;
}

p {
  line-height: 2;
  font-size: 1.6rem;
}

#root {
  height: 100%;
}

.active {
  color: $green;
}

.app {
  display: grid;
  grid-template-rows: 5vh 1fr 200px;
  height: 100%;
}


