$black: #303030;
$white: #fff;
$purple: #262161;
$yellow: #ffc40e;
$pink: #ee7297;
$green: #93ff00;
$red: #e50714;
$grey: lighten(grey, 40%);
$full: 100%;
$five: 5vw;
$two: 2vh;
$full: 100%;

$facebook-blue: #39518F;
$medium-grey: #7E828A;

$light-shade: #F1F3EE;
$light-accent: #C9BDB4;
$main-color: #D47E68;
$dark-accent: #C5AE8A;
$dark-shade: #7F645F;
