.currentWeatherDiv {
  margin: 30px 25%;
}

.currentWeatherDiv h1, .currentWeatherDiv h2, .currentWeatherDiv h3 {
  margin-bottom: 0;
}

.iconTemp, .descriptionMinMax, .minMax, .city{
  display: flex;
  justify-content: space-around;
}

.iconTemp > *, .descriptionMinMax > * {
  flex: 1 1 50%;
  align-self: center;
  text-align: center;
}

.icon {
  width: 20%;
}

.minMax > *, .descriptionMinMax{
  margin: 0 10px;
}

.city {
  margin-top: 20%;
}

/*
.currentTemp {
  flex: 1 1 10em;
}

.description {
  flex: 1 1 10em;
}

.minMax {
  flex: 1 1 10em;
}

.city {
  flex: 1 1 10em;
}*/