.currentWeatherDiv {

  margin: 30px;
}

.iconTemp {
  display: flex;
  justify-content: space-around;
  margin: auto 25%;
}

.iconTemp > * {
  flex: 0 1 50%;
  align-self: center;
  text-align: center;
}

.icon {
  width: 100%;
}
/*
.currentTemp {
  flex: 1 1 10em;
}

.description {
  flex: 1 1 10em;
}

.minMax {
  flex: 1 1 10em;
}

.city {
  flex: 1 1 10em;
}*/