@import 'partials/variables';
@import 'partials/normalize';
@import 'partials/typography';
@import 'partials/footer';
@import 'partials/header';
@import 'partials/login';
@import 'partials/logout';
@import 'partials/weather';